
.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .dot1 {
    height: 25px;
    width: 25px;
    background-color: rgb(3, 250, 3);
    border-radius: 50%;
    display: inline-block;
  }

/*font-family: 'Raleway', sans-serif;*/
*******************************
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}



.form{
    
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: skyblue;
}
.my_form{
    margin:auto;
    text-align:center;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    
}
.my_form .form_icon{
    color:black;
    font-size:100px;
    line-height:85px;
    margin: 0 0 13px;
}
.my_form .title{
    color:#fff;
    font-size:23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0 0 35px 0;
}
.my_form .form_group{
    margin: 0 0 12px;
    position:relative;

}
.my_form .icon {
    position: absolute;
    right: px;
    top: 47%;
    transform: translateY(-50%);
    font-size: 15px;
    color: black;
    left: 12px;
    /*border: 1px solid #fff;*/
   /* padding: 2px;*/
   /* background-color: #fff;*/
}
.my_form .form_control{
    color:#555;
    background-color: #fff;
    font-size:13px;
    letter-spacing: 1px;
    height:37px;
    padding:2px 15px 2px 35px;
    border:none;
    border-radius:50px;
}
.my_form .form_control::placeholder{
    color:rgba(0, 0, 0, 0.7);
    font-size:14px;
    text-transform: capitalize;

}
.my_form .btn{
    color:#fff;
    background-color: #222;
    font-size:15px;
    font-weight:600;
    letter-spacing: 1px;
    width:50%;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border:none;
    border-radius: 20px;
    text-transform: uppercase;

}
.my_form .form_option{
    margin:0;
    padding:0;
    list-style: none;
}
.my_form .form_option li a {
    color: #fff;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    display: block;
    font-size: 12px;
    font-family: 'Raleway';
}
.my_form .form_option li a i{
    font-size:12px;
}

.login-button {
    text-decoration: none;
}
